
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #e0e0e0; 
        }
        .login-container {
            background-color: white;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: center;
            width: 100%;
            max-width: 400px;
        }
        .login-container h2 {
            color: #333;
            margin-bottom: 1.5rem;
        }
        .login-container input {
            width: 100%;
            padding: 0.8rem;
            margin: 0.5rem 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            box-sizing: border-box;
            
        }

        .login-container button {
            background-color: #28a745; 
            color: white;
            border: none;
            padding: 0.8rem;
            width: 100%;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
        }
        .login-container button:hover {
            background-color: #218838; 
        }
        .login-container a {
            color: #28a745;
            text-decoration: none;
            display: block;
            margin-top: 1rem;
        }
        .login-container a:hover {
            text-decoration: underline;
        }
   